<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>
<body>
   
    <div class="dashboard-container">
        <h2>Welcome to Your Dashboard, {{ username }}</h2>
        <a href="{% url 'add_stock_item' %}" class="dashboard-button">➕ Add Stock Item</a>
        <a href="{% url 'view_stock_items' %}" class="dashboard-button">📋 View Stock Items</a>
        <a href="{% url 'low_stock_alerts' %}" class="dashboard-button">⚠️ Show Low Stock Alerts</a>
        <a href="{% url 'delete_stock_items' %}" class="dashboard-button">🗑️ Delete Stock Items</a>
        <a href="{% url 'history' %}" class="dashboard-button">📜 Stock History</a>
        <a href="{% url 'logout' %}" class="logout-link">Logout</a>
    </div>
</body>
</html>
