<!DOCTYPE html>
<html>
<head>
    <title>Edit Stock Item</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <a href="{% url 'dashboard' %}" class="back-to-dashboard">← Back to Dashboard</a>
    <h2>Edit Stock Item</h2>
    {% if messages %}
        <div class="message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="item_name">Item Name:</label>
        <input type="text" id="item_name" name="item_name" value="{{ stock_item.item_name }}">
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" value="{{ stock_item.time }}">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="{{ stock_item.date }}">
        <label for="where_bought_from">Where Bought From:</label>
        <input type="text" id="where_bought_from" name="where_bought_from" value="{{ stock_item.where_bought_from }}">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="{{ stock_item.quantity }}">
        <button type="submit">Update</button>
        <button type="submit" name="delete" value="true" class="delete-button">Delete</button>
    </form>
</body>
</html>
